.POPOSList {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.spaces-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.search-container {
  padding-bottom: 2em;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
  .spaces-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .spaces-container {
    grid-template-columns: 1fr;
  }
}

.space {
  padding-bottom: 1em;
}

.POPOSList form {
  display: flex;
  justify-content: center;
}

.POPOSList form input,
.POPOSList form button {
  padding: 0.75em;
  border: 1px solid;
  font-size: 1rem;
  max-width: 250px;
}

.POPOSList form input {
  flex: 1;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
