.POPOSList {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.spaces-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.search-container {
  padding-bottom: 2em;
}

.space {
  padding-bottom: 1em;
}

.POPOSList form {
  display: flex;
  justify-content: center;
}

.POPOSList form input,
.POPOSList form button {
  padding: 0.75em;
  border: 1px solid;
  font-size: 1rem;
  max-width: 250px;
}

.POPOSList form input {
  flex: 1;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

/* Smaller screens and tablets */
@media screen and (max-width: 960px) {
  .spaces-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large phones and small tablets */
@media screen and (max-width: 600px) {
  .spaces-container {
    grid-template-columns: 1fr;
  }

  body {
    font-size: 14px;
    line-height: 1.4;
  }
}

/*  Small phones */
@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
    line-height: 1.3;
  }

  .POPOSList form input,
  .POPOSList form button {
    padding: 0.65em;
    border: 0.9px solid;
    font-size: 0.8rem;
    max-width: 180px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
